.home_intro_wrapper {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr;
  width: 100%;
  gap: 2rem;
}

.home_intro_left,
.home_intro_right {
  width: 100%;
}

@media (max-width: 1024px) {
  .home_intro_wrapper {
    grid-template-columns: 1fr;
  }
}
